vignettes/MA-Workflow.html
vignettes/MA-Workflow.log
vignettes/MA-Workflow.tex
vignettes/MA-Workflow_cache/
vignettes/MA-Workflow_files/
vignettes/MA-Workflow_old_style.Rmd
vignettes/rawDataMAWorkflow/
MA-Workflow.pdf
tmp
MA-Workflow.utf8.md
MA-Workflow.knit.md
*.png
Report_for_Palmieri_raw
